nav {
    position: fixed;
    width: 100vw;
    top: 0px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.3);
    left: 0px;
    right: 0px;
}


#left-nav {
    display: flex;
    flex-direction: row;
    overflow: none;
}

#left-nav a {
    padding: 20px;
}

#right-nav {
    display: flex;
    flex-direction: row;
    overflow: none;
}

#right-nav a {
    padding: 20px;
}

#left-nav a, #right-nav a{
    text-decoration: none;
    cursor: pointer;
}

nav div a.active {
    font-weight: 800;
}